html{
 font-family: 'Poppins', sans-serif;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
  text-align: center;
    width: 45%;
    background-color: rgba(251, 133, 0, 0.2);
    border-radius: 15px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   padding: 1rem;

}

.title{
    font-size: 1.8rem;
    color: #fb8500;
    margin: 10px auto;
}

.form-group{
    font-weight: 400;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(34, 47, 68, 1);
}

.from-group__label{
    display: block;
    margin: 5px 0 0.5rem 5px;
    color: #efe0d5;
    text-align: left;
}

.from-group__input, .search-button{
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: inherit;
}

.from-group__input:focus{
    outline: 0;
}

.search-button{
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s background-color;
    border: none;
    box-shadow: rgba(255,255,255, 0.1) 0px 2px 4px 0px, rgba(255,255,255, 0.1) 0px 2px 4px 0px;
}

.search-button:hover{
    cursor: pointer;
    background-color:#fb8500;
    color: white;
}

#display{
    margin: 10px auto;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(34, 47, 68, 1);
    color: #efe0d5;
    min-height: 35vh;
    width: 80%;
    position: relative;
    text-align: left;
    position: relative;
}

.display-title{
    font-size: 1.5rem;
    margin: 5px 0;
}

#display p{
    text-align: center;
    color: #fb8500;
}

#display div{
    margin: 5px;
}

ul{
    padding: 5px;
}

ul li{
    list-style: none;
    margin: 5px;
}

span{
    font-size: 12px;
    color: white;
}
